*{box-sizing: border-box;}
body{margin: 0;padding: 0;background-color: #121212 !important;}

.center{margin: 20px;}
.chartholder{
    background-color: white;
    max-width: 1220px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0px 0px 10px 0px #000000;
    display: none;
}
.t{font-weight: 500;padding-bottom: 10px;}
.radios{padding: 0 20px;text-align: right;display: none;}
.secondtohide{display: none;}

.altit{font-size: 20px;color: white !important;font-weight: normal !important;}

#expected{color: #17A2B8;}
#total{color: #17A2B8;font-size: 20px;font-weight: bold;}

.parts{max-width:1220px;margin: 0 auto;padding: 20px;background-color: #2F2F2F;color: white !important;border-radius: 10px;margin-top: 10px;}

.partitle{font-size: 30px;padding-bottom: 10px;}

.inputholder{max-width: 200px;}

.pieholder{min-width: 400px;}

#optimalallocation{font-size: 16px;}

#optimalamount{font-size: 16px;}

.tit{color: #17A2B8;font-size: 22px !important;}

.above{display: flex;flex-direction: column;gap:20px;padding: 0 20px;}

.scrollable{max-height: 150px;overflow-y: scroll;margin: 20px;border: 2px solid gray;border-radius: 10px;padding:10px 20px;}

.modal-content{color:#2F2F2F;}

.km{padding-bottom: 20px;display: none;}

.optionholder{background-color: #2D2453;padding: 20px 0 200px 0;}
.inp{border-radius: 50px;padding: 20px 0;}
.inp input{max-width: 70%;margin: 0 auto;border-radius: 15px;padding: 5px;border: none;}
.inp label{color: white;}

.navbar{background-color: #221C38;padding: 10px 20px;margin-bottom: 0px;border-radius: 0;box-shadow: 0px 0px 10px 0px #000000;}
.navbar img{max-width:50px;}
.middle_aligner{max-width: 1220px;margin: 0 auto;padding: 0 20px;}

.flexer{display: flex;}
.jcsb{justify-content: space-between;}

.hibaelemzes{display: flex;flex-wrap: wrap;margin: 0 20px;}
.tbgc{margin:0 5px 5px 5px;}

.result{color: white;font-weight: bold;display: flex;align-items: center;}

.dropdown{margin: auto 0;}

.dropdown button{color: #2D2453 !important;background-color: white !important;border-radius: 25px;padding: 10px;border: none;}

.do{cursor: pointer;background-color: #FF7400;border-radius: 25px;color: white;max-width: 200px;font-size: 25px;font-weight: bold;text-align: center;box-shadow: 0px 0px 10px 0px #000000;padding: 10px;margin: 10px auto;}

#matrixBody td{border: 1px solid;padding: 5px;margin-top: 20px;}


::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #007BFF;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }